Repository Arlodotexe/strix-music, pull requests merged in 2022-06, with the labels that each got.

#146 [fix] AudioMetadataScanner now ignores files that throw UnauthorizedAccessException when scanning id3 data
  src/Sdk/StrixMusic.Sdk/FileMetadata/Scanners/AudioMetadataScanner.cs
Labels: bug, low difficulty, sdk

#148 [breaking] StrixDataRootPlaybackHandlerPlugin is now internal
  src/Sdk/StrixMusic.Sdk/Plugins/PlaybackHandler/StrixDataRootPlaybackHandlerPlugin.cs
Labels: bug, low difficulty, docs

#141 [fix] Fixed model plugin tests on machines with few logical processors
  src/Cores/Files/StrixMusic.Cores.Files/StrixMusic.Cores.Files.csproj
  src/Cores/Files/StrixMusic.Cores.LocalFiles/StrixMusic.Cores.LocalFiles.csproj
  src/Cores/Files/StrixMusic.Cores.OneDrive/StrixMusic.Cores.OneDrive.csproj
  src/Cores/Remote/StrixMusic.Cores.OwlCoreRpc.Tests/StrixMusic.Cores.OwlCoreRpc.Tests.csproj
  src/Cores/Remote/StrixMusic.Cores.OwlCoreRpc/StrixMusic.Cores.OwlCoreRpc.csproj
  src/Libs/OwlCore.WinUI/OwlCore.WinUI.csproj
  src/Platforms/StrixMusic.Droid/StrixMusic.Droid.csproj
  src/Platforms/StrixMusic.UWP/StrixMusic.UWP.csproj
  src/Platforms/StrixMusic.Wasm/StrixMusic.Wasm.csproj
  src/Sdk/StrixMusic.Sdk.Tests/Helpers/Helpers.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/AlbumCollectionPluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/AlbumPluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/ArtistCollectionPluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/ArtistPluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/DiscoverablesPluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/DownloadablePluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/GenreCollectionPluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/ImageCollectionPluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/ImagePluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/LibraryPluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/LyricsPluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/PlayableCollectionGroupPluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/PlayablePluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/PlaylistCollectionPluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/PlaylistPluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/RecentlyPlayedPluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/SearchHistoryPluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/SearchResultsPluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/TrackCollectionPluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/TrackPluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/UrlCollectionPluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/UrlPluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/StrixMusic.Sdk.Tests.csproj
  src/Sdk/StrixMusic.Sdk.WinUI/StrixMusic.Sdk.WinUI.csproj
  src/Sdk/StrixMusic.Sdk/AppModels/Notification.cs
  src/Sdk/StrixMusic.Sdk/MediaPlayback/IPlaybackHandlerService.cs
  src/Sdk/StrixMusic.Sdk/Plugins/Model/AlbumCollectionPluginBase.cs
  src/Sdk/StrixMusic.Sdk/Plugins/Model/AlbumPluginBase.cs
  src/Sdk/StrixMusic.Sdk/Plugins/Model/ArtistCollectionPluginBase.cs
  src/Sdk/StrixMusic.Sdk/Plugins/Model/ArtistPluginBase.cs
  src/Sdk/StrixMusic.Sdk/Plugins/Model/PlayableCollectionGroupPluginBase.cs
  src/Sdk/StrixMusic.Sdk/Plugins/Model/PlayablePluginBase.cs
  src/Sdk/StrixMusic.Sdk/Plugins/Model/PlaylistCollectionPluginBase.cs
  src/Sdk/StrixMusic.Sdk/Plugins/Model/PlaylistPluginBase.cs
  src/Sdk/StrixMusic.Sdk/Plugins/Model/TrackCollectionPluginBase.cs
  src/Sdk/StrixMusic.Sdk/Plugins/Model/TrackPluginBase.cs
  src/Sdk/StrixMusic.Sdk/StrixMusic.Sdk.csproj
  src/Sdk/StrixMusic.Sdk/ViewModels/CoreViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/LibraryViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/Notifications/NotificationViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/Notifications/NotificationsViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/PlayableCollectionGroupViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/TrackViewModel.cs
  src/Shells/StrixMusic.Shells.Groove/StrixMusic.Shells.Groove.csproj
  src/Shells/StrixMusic.Shells.ZuneDesktop/StrixMusic.Shells.ZuneDesktop.csproj
Labels: hotfix, tests

#158 [breaking] Removed unnecessary dependencies from metadata scanner constructors
  src/Cores/Files/StrixMusic.Cores.OneDrive/OneDriveCore.cs
  src/Sdk/StrixMusic.Sdk.Tests/Services/MetadataScanner/AudioMetadataScanner.Tests.cs
  src/Sdk/StrixMusic.Sdk/FileMetadata/FileMetadataManager.cs
  src/Sdk/StrixMusic.Sdk/FileMetadata/IFileMetadataManager.cs
  src/Sdk/StrixMusic.Sdk/FileMetadata/Scanners/AudioMetadataScanner.cs
  src/Sdk/StrixMusic.Sdk/FileMetadata/Scanners/PlaylistMetadataScanner.Parsers.cs
  src/Sdk/StrixMusic.Sdk/FileMetadata/Scanners/PlaylistMetadataScanner.cs
Labels: sdk, breaking change, refactor, file metadata

#166 [improvement] Album tracks from file-based cores are now grouped by disc number
  src/Sdk/StrixMusic.Sdk.Tests/FileMetadata/Repositories/TrackRepositoryTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Mock/FileSystem/InMemoryFileData.cs
  src/Sdk/StrixMusic.Sdk.Tests/Mock/FileSystem/InMemoryFolderData.cs
  src/Sdk/StrixMusic.Sdk.Tests/StrixMusic.Sdk.Tests.csproj
  src/Sdk/StrixMusic.Sdk/FileMetadata/Repositories/TrackRepository.cs
Labels: enhancement, sdk, onedrive core, local files core, file metadata

#167 [breaking] Removed INotificationService dependency in FileMetadataManager
  src/Cores/Files/StrixMusic.Cores.Files/FilesCore.cs
  src/Cores/Files/StrixMusic.Cores.LocalFiles/LocalFilesCore.cs
  src/Cores/Files/StrixMusic.Cores.OneDrive/OneDriveCore.cs
  src/Sdk/StrixMusic.Sdk/FileMetadata/FileMetadataManager.cs
  src/Sdk/StrixMusic.Sdk/FileMetadata/FileScanState.cs
  src/Sdk/StrixMusic.Sdk/FileMetadata/FileScanningType.cs
  src/Shared/AppLoadingView.xaml.cs
Labels: sdk, onedrive core, local files core, breaking change, refactor, cleanup, file metadata

#173 [fix] PopulateMore*Async ViewModel methods no longer return prematurely
  src/Cores/Files/StrixMusic.Cores.Files/StrixMusic.Cores.Files.csproj
  src/Cores/Files/StrixMusic.Cores.LocalFiles/StrixMusic.Cores.LocalFiles.csproj
  src/Cores/Files/StrixMusic.Cores.OneDrive/StrixMusic.Cores.OneDrive.csproj
  src/Cores/Remote/StrixMusic.Cores.OwlCoreRpc.Tests/StrixMusic.Cores.OwlCoreRpc.Tests.csproj
  src/Cores/Remote/StrixMusic.Cores.OwlCoreRpc/StrixMusic.Cores.OwlCoreRpc.csproj
  src/Libs/OwlCore.WinUI/OwlCore.WinUI.csproj
  src/Platforms/StrixMusic.Droid/StrixMusic.Droid.csproj
  src/Platforms/StrixMusic.UWP/StrixMusic.UWP.csproj
  src/Platforms/StrixMusic.Wasm/StrixMusic.Wasm.csproj
  src/Sdk/StrixMusic.Sdk.Tests/StrixMusic.Sdk.Tests.csproj
  src/Sdk/StrixMusic.Sdk.Tests/ViewModels/AlbumCollectionViewModelTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/ViewModels/AlbumViewModelTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/ViewModels/ArtistCollectionViewModelTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/ViewModels/ArtistViewModelTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/ViewModels/PlayableCollectionGroupViewModelTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/ViewModels/PlaylistCollectionViewModelTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/ViewModels/PlaylistViewModelTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/ViewModels/TrackCollectionViewModelTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/ViewModels/TrackViewModelTests.cs
  src/Sdk/StrixMusic.Sdk.WinUI/StrixMusic.Sdk.WinUI.csproj
  src/Sdk/StrixMusic.Sdk/StrixMusic.Sdk.csproj
  src/Sdk/StrixMusic.Sdk/ViewModels/AlbumCollectionViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/AlbumViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/ArtistCollectionViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/ArtistViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/PlayableCollectionGroupViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/PlaylistCollectionViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/PlaylistViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/TrackCollectionViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/TrackViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/UserProfileViewModel.cs
  src/Shells/StrixMusic.Shells.Groove/StrixMusic.Shells.Groove.csproj
  src/Shells/StrixMusic.Shells.ZuneDesktop/StrixMusic.Shells.ZuneDesktop.csproj
Labels: bug, sdk

#174 [refactor] Refactored and fixed track artist column on Zune Desktop
  src/Sdk/StrixMusic.Sdk.WinUI/Controls/Collections/Abstract/CollectionControl.cs
  src/Sdk/StrixMusic.Sdk.WinUI/Controls/Collections/TrackCollection.cs
  src/Sdk/StrixMusic.Sdk.WinUI/Controls/Items/TrackItem.cs
  src/Shells/StrixMusic.Shells.ZuneDesktop/Controls/Views/Collection/CollectionContent.xaml.cs
  src/Shells/StrixMusic.Shells.ZuneDesktop/Controls/Views/Collection/ZuneTrackCollection.cs
  src/Shells/StrixMusic.Shells.ZuneDesktop/Controls/Views/Collection/ZuneTrackCollectionItem.cs
  src/Shells/StrixMusic.Shells.ZuneDesktop/Controls/Views/Items/ZuneTrackItem.cs
  src/Shells/StrixMusic.Shells.ZuneDesktop/Styles/Collections/TrackCollectionStyle.xaml
  src/Shells/StrixMusic.Shells.ZuneDesktop/Styles/Items/TrackItemStyle.xaml
Labels: zune desktop shell, hotfix

#176 [fix] Fixed potential crash when artist is missing genre information
  src/Sdk/StrixMusic.Sdk/FileMetadata/Scanners/AudioMetadataScanner.cs
Labels: sdk, hotfix, regression, file metadata

#179 [fix] Fixed disconnect button not showing in services view
  src/Shared/SuperShell.xaml.cs
Labels: hotfix

#182 Fixed all tags showing under title in generated changelogs
  build-scripts/GenerateChangelogs.ps1
  docs/reference/changelogs/app/alpha/0.0.10-app-alpha.md
  docs/reference/changelogs/app/alpha/0.0.11-app-alpha.md
  docs/reference/changelogs/app/alpha/0.0.3-app-alpha.md
  docs/reference/changelogs/app/alpha/0.0.4-app-alpha.md
  docs/reference/changelogs/app/alpha/0.0.5-app-alpha.md
  docs/reference/changelogs/app/alpha/0.0.6-app-alpha.md
  docs/reference/changelogs/app/alpha/0.0.7-app-alpha.md
  docs/reference/changelogs/app/alpha/0.0.8-app-alpha.md
  docs/reference/changelogs/app/alpha/0.0.9-app-alpha.md
  docs/reference/changelogs/sdk/alpha/0.0.1-sdk-alpha.md
  docs/reference/changelogs/sdk/alpha/0.0.2-sdk-alpha.md
  docs/reference/changelogs/sdk/alpha/0.0.3-sdk-alpha.md
  docs/reference/changelogs/sdk/alpha/0.0.4-sdk-alpha.md
  docs/reference/changelogs/sdk/alpha/0.0.5-sdk-alpha.md
  docs/reference/changelogs/sdk/alpha/0.0.6-sdk-alpha.md
  docs/reference/changelogs/sdk/alpha/0.0.7-sdk-alpha.md
  docs/reference/changelogs/sdk/alpha/0.0.8-sdk-alpha.md
  docs/reference/changelogs/sdk/alpha/0.0.9-sdk-alpha.md
Labels: bug, docs

#181 [fix] Fixed minor WASM issues and enabled multithreading, updated dependencies.
  global.json
  src/Cores/Files/StrixMusic.Cores.Files/StrixMusic.Cores.Files.csproj
  src/Cores/Remote/StrixMusic.Cores.OwlCoreRpc/StrixMusic.Cores.OwlCoreRpc.csproj
  src/Libs/OwlCore.WinUI/OwlCore.WinUI.csproj
  src/Platforms/StrixMusic.Droid/StrixMusic.Droid.csproj
  src/Platforms/StrixMusic.Wasm/StrixMusic.Wasm.csproj
  src/Sdk/StrixMusic.Sdk.WinUI/StrixMusic.Sdk.WinUI.csproj
  src/Shared/AppLoadingView.xaml.cs
  src/Shared/Services/SystemMediaTransportControlsHandler.cs
  src/Shells/StrixMusic.Shells.Groove/Controls/Items/GrooveAlbumItem.cs
  src/Shells/StrixMusic.Shells.Groove/Controls/Items/GrooveArtistItem.cs
  src/Shells/StrixMusic.Shells.Groove/Controls/Items/GroovePlaylistItem.cs
  src/Shells/StrixMusic.Shells.Groove/Controls/Items/GrooveTrackItem.cs
  src/Shells/StrixMusic.Shells.Groove/StrixMusic.Shells.Groove.csproj
  src/Shells/StrixMusic.Shells.ZuneDesktop/Controls/Views/Collection/ZuneArtistCollection.cs
  src/Shells/StrixMusic.Shells.ZuneDesktop/Controls/Views/Items/ZuneAlbumItem.cs
  src/Shells/StrixMusic.Shells.ZuneDesktop/Controls/Views/Items/ZuneTrackItem.cs
  src/Shells/StrixMusic.Shells.ZuneDesktop/StrixMusic.Shells.ZuneDesktop.csproj
Labels: bug, webassembly, app

#183 [fix] Fixed InvalidCastException when loading Zune shell with debugger attached
  src/Shells/StrixMusic.Shells.ZuneDesktop/Styles/NowPlaying/DefaultZuneMediaInfoStyle.xaml
Labels: regression
