Repository Arlodotexe/strix-music, pull requests merged in 2022-08, with the labels that each got.

#212 [refactor] Added Async suffix to CollectionInit helper methods
  src/Sdk/StrixMusic.Sdk/ViewModels/AlbumCollectionViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/AlbumViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/ArtistCollectionViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/ArtistViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/Helpers/CollectionInit.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/PlayableCollectionGroupViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/PlaylistCollectionViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/PlaylistViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/TrackCollectionViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/TrackViewModel.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/UserProfileViewModel.cs
Labels: refactor

#219 [fix] Fixed file metadata scanner crashing when FileProperties doesn't provide optional data
  src/Sdk/StrixMusic.Sdk/FileMetadata/Scanners/AudioMetadataScanner.cs
Labels: hotfix

#213 [breaking] Switched IImageBase to use Stream instead of Uri, added ImageResizerPlugin
  src/Cores/Files/StrixMusic.Cores.Files/FilesCore.cs
  src/Cores/Files/StrixMusic.Cores.Files/Models/FilesCoreAlbum.cs
  src/Cores/Files/StrixMusic.Cores.Files/Models/FilesCoreImage.cs
  src/Cores/Files/StrixMusic.Cores.OneDrive/OneDriveCore.cs
  src/Libs/OwlCore.WinUI/ColorExtractor/ImageParser.cs
  src/Sdk/StrixMusic.Sdk.Tests/MetadataScanner/AudioMetadataScanner.Tests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Mock/AppModels/MockImage.cs
  src/Sdk/StrixMusic.Sdk.Tests/Mock/Core/Items/MockCoreImage.cs
  src/Sdk/StrixMusic.Sdk.Tests/Mock/Core/Items/MockCoreItemFactory.cs
  src/Sdk/StrixMusic.Sdk.Tests/Mock/Core/MockCore.cs
  src/Sdk/StrixMusic.Sdk.Tests/Mock/Core/MockCorePlayableCollectionGroupBase.cs
  src/Sdk/StrixMusic.Sdk.Tests/PluginModels/PluginImportTests.cs
  src/Sdk/StrixMusic.Sdk.Tests/Plugins/Models/ImagePluginBaseTests.cs
  src/Sdk/StrixMusic.Sdk.WinUI/Controls/SafeImage.cs
  src/Sdk/StrixMusic.Sdk/AdapterModels/MergedImage.cs
  src/Sdk/StrixMusic.Sdk/BaseModels/IImageBase.cs
  src/Sdk/StrixMusic.Sdk/FileMetadata/FileMetadataManager.cs
  src/Sdk/StrixMusic.Sdk/FileMetadata/IFileMetadataManager.cs
  src/Sdk/StrixMusic.Sdk/FileMetadata/Models/ImageMetadata.cs
  src/Sdk/StrixMusic.Sdk/FileMetadata/Scanners/AudioMetadataScanner.ImageProcessing.cs
  src/Sdk/StrixMusic.Sdk/FileMetadata/Scanners/AudioMetadataScanner.cs
  src/Sdk/StrixMusic.Sdk/PluginModels/DiscoverablesPluginWrapper.cs
  src/Sdk/StrixMusic.Sdk/PluginModels/ImagePluginWrapper.cs
  src/Sdk/StrixMusic.Sdk/PluginModels/LibraryPluginWrapper.cs
  src/Sdk/StrixMusic.Sdk/PluginModels/RecentlyPlayedPluginWrapper.cs
  src/Sdk/StrixMusic.Sdk/PluginModels/SearchHistoryPluginWrapper.cs
  src/Sdk/StrixMusic.Sdk/Plugins/ImageResizer/ImageResizerPlugin.cs
  src/Sdk/StrixMusic.Sdk/Plugins/ImageResizer/ResizeableImagePlugin.cs
  src/Sdk/StrixMusic.Sdk/Plugins/Model/ImagePluginBase.cs
  src/Sdk/StrixMusic.Sdk/Plugins/Model/SdkModelPlugin.cs
  src/Shared/AppLoadingView.xaml.cs
  src/Shared/Services/SystemMediaTransportControlsHandler.cs
  src/Shells/StrixMusic.Shells.Groove/Controls/GrooveNowPlayingBar.cs
  src/Shells/StrixMusic.Shells.Groove/Controls/Pages/GrooveAlbumPage.cs
  src/Shells/StrixMusic.Shells.Groove/Helper/DynamicColorHelper.cs
  src/Shells/StrixMusic.Shells.Groove/Styles/NowPlaying/MediaInfoStyle.xaml
  src/Shells/StrixMusic.Shells.Groove/Styles/Pages/GrooveAlbumPageStyle.xaml
  src/Shells/StrixMusic.Shells.ZuneDesktop/Styles/Items/AlbumItemStyle.xaml
  src/Shells/StrixMusic.Shells.ZuneDesktop/Styles/NowPlaying/DefaultZuneMediaInfoStyle.xaml
  src/StrixMusic.sln
Labels: sdk, breaking change, refactor

#224 [breaking] Removed CoreMetadata, refactored into ICore
  src/Cores/Files/StrixMusic.Cores.Files/FilesCore.cs
  src/Cores/Files/StrixMusic.Cores.LocalFiles/LocalFilesCore.cs
  src/Cores/Files/StrixMusic.Cores.LocalFiles/Logo.svg
  src/Cores/Files/StrixMusic.Cores.LocalFiles/LogoImage.cs
  src/Cores/Files/StrixMusic.Cores.LocalFiles/StrixMusic.Cores.LocalFiles.csproj
  src/Cores/Files/StrixMusic.Cores.OneDrive/Logo.svg
  src/Cores/Files/StrixMusic.Cores.OneDrive/LogoImage.cs
  src/Cores/Files/StrixMusic.Cores.OneDrive/OneDriveCore.cs
  src/Cores/Files/StrixMusic.Cores.OneDrive/StrixMusic.Cores.OneDrive.csproj
  src/Sdk/StrixMusic.Sdk.Tests/Mock/Core/MockCore.cs
  src/Sdk/StrixMusic.Sdk/AdapterModels/MergedCore.cs
  src/Sdk/StrixMusic.Sdk/CoreModels/ICore.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/CoreViewModel.cs
  src/Shared/AppLoadingView.xaml
  src/Shared/AppLoadingView.xaml.cs
  src/Shared/Controls/CoreImage.xaml
  src/Shared/Controls/CoreImage.xaml.cs
  src/Shared/Services/CoreMetadata.cs
  src/Shared/StrixMusic.Shared.projitems
  src/Shared/Styles/CoreItemStyle.xaml
Labels: sdk, breaking change, cores

#222 [breaking] Switched to IAsyncEnumerable, renamed to PlaylistMetadataScanner.ScanPlaylistsAsync
  src/Sdk/StrixMusic.Sdk/FileMetadata/FileMetadataManager.cs
  src/Sdk/StrixMusic.Sdk/FileMetadata/Scanners/PlaylistMetadataScanner.cs
Labels: breaking change, file metadata

#225 [fix] Fixed Zune Desktop shell crashing when debugger isn't attached
  src/Shells/StrixMusic.Shells.ZuneDesktop/Styles/Collections/TrackTableStyle.xaml
Labels: bug, hotfix, regression
