Repository Arlodotexe/strix-music, pull requests merged in 2023-01, with the labels that each got.

#258 [breaking] Remove CoreState
  src/Cores/Storage/src/StorageCore.cs
  src/Sdk/StrixMusic.Sdk.Tests/Mock/Core/MockCore.cs
  src/Sdk/StrixMusic.Sdk/AppModels/CoreState.cs
  src/Sdk/StrixMusic.Sdk/CoreModels/ICore.cs
  src/Sdk/StrixMusic.Sdk/ViewModels/CoreViewModel.cs
  src/Shared/AppFrame.xaml
Labels: enhancement, sdk, breaking change

#264 [fix] Groove track collection playback.
  src/Shells/StrixMusic.Shells.Groove/Styles/Pages/GrooveArtistPageStyle.xaml
Labels: hotfix

#267 [fix] Set up SystemMediaTransportControlsHandler in AppRoot
  src/Shared/AppModels/AppRoot.cs
Labels: low difficulty, app
